<div class="bg-white border {{borderColor}} rounded-sm py-1 px-6 flex flex-col items-center justify-center shadow-md mx-2">
    <h3 class="leading-4 py-1 text-gray-600 text-lg"><i class="fas {{titleIcon}} text-3xl {{cardColor}}"></i>&nbsp;&nbsp;{{cardTitle}}</h3>
    <div class="flex items-center pt-1">
        <h2 class="leading-normal text-2xl text-gray-800 font-bold pr-2 {{cardTextVisibility}}">{{cardText}}</h2>
        <i class="fas {{textIcon}} px-1 {{textIconTransform}} {{textIconTransformType}} {{textIconColor}} {{textIconHidden}}"></i>
        <p class="text-sm tracking-wide font-bold leading-normal {{cardSubTextHidden}}">{{cardSubText}}</p>
    </div>
</div>