<nav class="w-full bg-white shadow mb-6">
    <div class="px-2 md:px-6 h-10 md:h-16 flex justify-between items-center lg:items-stretch mx-auto">
        <div class="flex items-center">
            <div class="mr-10 flex items-center">
                <h1 class="text-2xl text-cyan-600 font-medium tracking-normal leading-tight ml-3"><i class="fas fa-dna"></i> <span class="hidden md:inline-block">LebWeb</span></h1>
            </div>
            <ul class="flex items-center h-full">
                <li class="cursor-pointer h-full flex items-center text-lg text-gray-600 tracking-normal transition duration-150 ease-in-out">
                    <a><span class="inline-block md:hidden"><i class="fas fa-home"></i>&nbsp;</span> <span class="hidden md:inline-block">Home</span></a>
                </li>
            </ul>
        </div>
        <div class="h-full flex items-center justify-end">
            <div class="h-full flex">
                <div class="w-12 md:w-20 h-full flex items-center justify-center md:border-l md:border-r md:border-gray-300 text-gray-400 cursor-pointer">
                    <i class="fas fa-bell fa-2x"></i>
                </div>
                <div class="w-12 md:w-20 h-full flex items-center justify-center md:border-l md:border-r md:border-gray-300 text-gray-400 cursor-pointer">
                    <i class="fas fa-sign-out-alt fa-2x"></i>
                </div>
                <div class="hidden md:flex items-center pl-8 relative">
                    <p class="text-gray-800 text-sm ml-2">{{userName}} <span class="text-gray-400">{{userPosition}}</span></p>
                </div>
            </div>
        </div>
    </div>
</nav>